body {
    overflow: auto;
    background-color: #E9E9E9;
}

.card-title {
    color: #00979C;
    text-align: center;
    padding: 10px;
}

.card-text {
    padding-bottom: 20px;
}

.card {
    position: absolute;
    background-color: #FFFFFF;
    top: 15%;
    left: 30%;
    min-width: 350px;
    border-top: solid;
    border-left: solid;
    border-color: #00979C;
    -webkit-box-shadow: 5px 6px 3px -2px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 5px 6px 3px -2px rgba(0, 0, 0, 0.47);
    box-shadow: 5px 6px 3px -2px rgba(0, 0, 0, 0.47);
}

#card-top {
    height: 150px;
    background-color: #00979C;
}

#cadastro-usuario {
    top: 10%;
}

#cadastro-usuario span {
    color: red;
    font-weight: bold;
}


/* Formulários personalizados */

.form-control:focus {
    border-width: 2px;
    border-color: #F47A20;
    box-shadow: none;
}


/* Botões personalizados */

.btn-cms-hirth {
    background-color: #00979C;
    color: #FFFFFF;
    font-weight: bold;
    transition: color 0.35s ease-in-out 0s, background-color 0.35s ease-in-out 0s;
    border: none;
}

.btn-cms-hirth:hover {
    background-color: #F47A20;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-cms-hirth:disabled {
    background-color: #00979C;
    color: #FFFFFF;
    font-weight: bold;
}

.btn-danger {
    border: none;
    font-weight: bold;
}

.btn-default {
    border: none;
    background-color: #CCCCCC;
    font-weight: bold;
}

/* Links personalidados */

a {
    text-decoration: none;
    color: #00979C;
    font-weight: bold;
    transition: color 0.35s ease-in-out 0s, background-color 0.35s ease-in-out 0s;
}

a:hover {
    text-decoration: none;
    color: #F47A20;
    font-weight: bold;
}

a.invert {
    text-decoration: none;
    color: #F47A20;
    font-weight: bold;
    transition: color 0.35s ease-in-out 0s, background-color 0.35s ease-in-out 0s;
}

a.invert:hover {
    text-decoration: none;
    color: #00979C;
    font-weight: bold;
}


/* Navbar (menu superior) */

.navbar-nav a {
    color: #00979C !important;
    transition: color 0.35s ease-in-out 0s, background-color 0.35s ease-in-out 0s !important;
}

.navbar-nav a:hover {
    color: #FFFFFF !important;
    background-color: #F47A20 !important;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px;
    margin-top: 50px;
}

#welcome {
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(204, 204, 204, 0.1);
}

.sidenav {
    position: fixed;
    padding-top: 20px;
    background-color: #515151;
    height: 100%;
    padding: 0;
}

.sidenav div {
    text-align: left;
    padding: 0;
}

#menu div a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

#menu > div {
    position: relative;
    padding: 1em 0;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(204, 204, 204, 0.1);
}

#menu > div:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    border-right: 4px solid #F47A20;
}

#menu > div .menu-parent {
    padding: 0 1em;
}

.menu-collapse {
    background-color: #444444;
}

.menu-collapse li:hover {}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}


/* Panel Personalizado */

.panel-cms-hirth {
    border-color: #FFFFFF;
}

.panel-cms-hirth .panel-heading {
    height: 100px;
    background-color: #00979C;
    color: #FFFFFF;
}

.page-body {
    background-color: #F8F8F8;
    padding: 2em;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 151 , 156, 0.1);
}
