<div ng-include="'../partials/admin/menu-superior.html'"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div ng-include="'../partials/admin/menu-lateral.html'"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-left">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-header">Configuração de Usuários</h2>
                </div>
            </div>
            <div class="page-body row">
                <div style="padding-bottom: 1em;">
                    <button class="btn btn-cms-hirth" ng-click="newUser()">
                        <i class="fa fa-user-plus fa-lg" style="padding-right: 2px"></i> Novo Usuário
                    </button>
                </div>
                <table id="config-user-table" class="table table-hover table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Usuário</th>
                            <th>Criação</th>
                            <th>Modificação</th>
                            <th>Último Acesso</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td id="userId" class="idUser hidden">{{user._id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.creationDate}}</td>
                            <td>{{user.modificationDate || "-"}}</td>
                            <td>{{user.lastAccess || "-"}}</td>
                            <td>
                                <a class="btn btn-cms-hirth" ng-href="#/editUser/{{user._id}}"><span class="fa fa-pencil fa-lg"></span></a>
                                <a class="btn btn-danger" ng-click="deleteUser(user)"><span class="fa fa-trash fa-lg"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">{{mensagem}}</div>
            <input type="hidden" ng-model="userDelete" id="userDelete">
            <div class="modal-footer">
                <button type="button" id="yes-button" class="btn btn-danger">Sim</button>
                <button type="button" id="no-button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-success-delete-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">{{mensagem}}</div>
            <div class="modal-footer">
                <button type="button" id="ok-button" class="btn btn-cms-hirth">OK</button>
            </div>
        </div>
    </div>
</div>
