<nav ng-controller="MenuController" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CMS Hirth</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-cms-hirth">Buscar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">                
                <li><a href="#/dashboard">Início</a></li>
                <li><a href="#/dashboard">Perfil</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        Configurações
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Geral</a></li>
                        <li><a href="" ng-click="userConfiguration()">Usuários</a></li>
                    </ul>
                </li>
                <li><a href="#/dashboard">Sobre</a></li>
                <li><a href="" ng-click="logout()">Logout</a></li>
                <li><a href="" class="fa fa-external-link-square fa-lg" data-toggle="tooltip" data-placement="left" title="Ir para o site"></a></li>
            </ul>
        </div>
    </div>
</nav>
