<div ng-include="'../partials/admin/menu-superior.html'"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div ng-include="'../partials/admin/menu-lateral.html'"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-left">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-header">Nova Postagem</h2>
                </div>
            </div>
            <div class="page-body row">
                <form id="formNewPost" name="formNewPost" ng-submit="savePost(post)">
                    <div class="form-group col-md-12 row">
                        <label>Título</label><span class="obrigatorio"> *</span>
                        <input type="text" name="titlePost" class="form-control" ng-model="post.titlePost" ng-required="true">
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>Texto</label><span class="obrigatorio"> *</span>
                        <textarea name="descriptionPost" class="form-control" ng-model="post.descriptionPost" ng-required="true" rows="8"></textarea>
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>Tags</label>
                        <input type="text" name="tagsPost" class="form-control" ng-model="post.tagsPost">
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>URL</label>
                        <input type="text" name="urlPost" class="form-control" ng-model="post.urlPost">
                    </div>
                    <div class="form-group col-md-12 row" uploader="uploader">
                        <label>Imagens</label>
                        Arquivos para upload: {{uploader.queue.length}}
                        <input type="file" nv-file-select="" uploader="uploader" multiple />
                        <br/>
                        <table class="table">
                            <thead>
                                <th width="50%">Nome</th>
                                <th>Tam.</th>
                                <th>Prog</th>
                                <th>Status</th>
                                <th>Ação</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td>{{item.file.name}}</td>
                                    <td nowrap>{{item.file.size/1024/1024|number:2}} MB
                                    </td>
                                    <td>
                                        <div class="progress" style="margin-bottom:0; ">
                                            <div class="progress-bar" ng-style="{'width' : item.progress + '%'}"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                        <span ng-show="item.isCancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                        </span>
                                        <span ng-show="item.isError">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs">
                                            Cancela
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div>
                                Progresso Geral: 
                                <div class="progress">
                                    <div class="progress-bar" ng-style="{'width' : uploader.progress + '%'}"></div>
                                </div>
                                <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Enviar todos os arquivos</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group col-md-12 row">
                        <input type="hidden" name="gallery">
                        <label>Imagens</label>
                        <input type="file" class="upload" multiple="multiple" accept="image/*" ng-model="post.imagesPost">
                        <div class="gallery-container"></div>
                    </div> -->
                    <div class="col-md-12 row">
                        <span class="obrigatorio">* Campos obrigatórios</span>
                    </div>
                    <div class="col-md-12 row" align="center">
                        <button type="submit" class="btn btn-cms-hirth" ng-disabled="formNovoPost.$invalid">Salvar</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-new-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">{{mensagem}}</div>
            <div class="modal-footer">
                <button type="button" id="ok-button" class="btn btn-cms-hirth">OK</button>
            </div>
        </div>
    </div>
</div>
