<div ng-include="'../partials/admin/menu-superior.html'"></div>
<div class="container-fluid text-center">
    <div class="row content">
        <div ng-include="'../partials/admin/menu-lateral.html'"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 text-left">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-header">Nova Postagem</h2>
                </div>
            </div>
            <div class="page-body row">
                <form id="formNewPost" name="formNewPost" ng-submit="savePost(post)">
                    <div class="form-group col-md-12 row">
                        <label>Título</label><span class="obrigatorio"> *</span>
                        <input type="text" name="titlePost" class="form-control" ng-model="post.titlePost" ng-required="true">
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>Texto</label><span class="obrigatorio"> *</span>
                        <textarea name="descriptionPost" class="form-control" ng-model="post.descriptionPost" ng-required="true" rows="8"></textarea>
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>Tags</label>
                        <input type="text" name="tagsPost" class="form-control" ng-model="post.tagsPost">
                    </div>
                    <div class="form-group col-md-12 row">
                        <label>URL</label>
                        <input type="text" name="urlPost" class="form-control" ng-model="post.urlPost">
                    </div>
                    <div class="form-group col-md-12 row">
                        
                    </div>
                    <!-- <div class="form-group col-md-12 row">
                        <input type="hidden" name="gallery">
                        <label>Imagens</label>
                        <input type="file" class="upload" multiple="multiple" accept="image/*" ng-model="post.imagesPost">
                        <div class="gallery-container"></div>
                    </div> -->
                    <div class="col-md-12 row">
                        <span class="obrigatorio">* Campos obrigatórios</span>
                    </div>
                    <div class="col-md-12 row" align="center">
                        <button type="submit" class="btn btn-cms-hirth" ng-disabled="formNovoPost.$invalid">Salvar</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-new-post" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
            </div>
            <div class="modal-body">{{mensagem}}</div>
            <div class="modal-footer">
                <button type="button" id="ok-button" class="btn btn-cms-hirth">OK</button>
            </div>
        </div>
    </div>
</div>
